<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dotsquares_SubscriberRebate::newsletterdiscountpro"
             title="Subscribers Discount" module="Dotsquares_SubscriberRebate"
             parent="Magento_Backend::marketing_communications"
             action="newsletterdiscountpro/program/index"
             resource="Dotsquares_SubscriberRebate::program" sortOrder="100"/>
    </menu>
</config>