@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');body{font-family:'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px}
.action.primary,.action-primary{font-family:'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif}
h1,h2,h3{font-family:'Josefin Sans',sans-serif;font-weight:600;font-size:16px}
body.cms-ds-home{font-weight:400}
h1{font-size:40px}
h2{font-size:42px;font-weight:700}
.action.primary,.action-primary{background:#244980;border:1px solid #244980;border-radius:4px}
.action.primary:hover,.action-primary:hover{background:#EF5C0F;border:1px solid #EF5C0F}
.navigation,.breadcrumbs,.page-header .header.panel,.header.content,.footer.content,.page-wrapper>.widget,.block.category.event,.top-container,.page-main,.page-wrapper>.page-bottom .widget.block.block-static-block{max-width:1320px;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;box-sizing:border-box}
.nav-sections-item-content>.navigation{padding-left:0;padding-right:0}
.page-wrapper>.page-bottom{max-width:100%;width:100%}
.block-products-list,.mp-product-slider-content,.cms-ds-home .block-static-block,.container-ft{max-width:1320px;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;box-sizing:border-box}
.category-view-footer{max-width:1320px;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;box-sizing:border-box}
.nav-sections .section-items.nav-sections-items{max-width:1320px;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;box-sizing:border-box}
.page-bottom .widget.block.block-static-block{max-width:1320px;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px}
.featuredcategories{background:url(images/featuredcategories_bg.png);text-align:center;max-width:1320px;margin-left:auto;margin-right:auto}
.whyus-block .widget.block.block-static-block{margin:0 auto}
.featuredcategories ul{margin:0;padding:0;display:flex;justify-content:space-between;list-style:none;text-align:center}
.featuredcategories .cat_icon_box{width:170px;height:170px;background:#fff;border-radius:50%;box-shadow:0 5px 6px rgba(0,0,0,0.16);border:1px solid #E5E5E5;display:flex;align-items:center;justify-content:center;margin-left:auto;margin-right:auto;transition:all 0.5s ease-out}
.featuredcategories .cat_icon_box:hover{transform:scale(1.2)}
.featuredcategories p{max-width:880px;margin-left:auto;margin-right:auto;margin-bottom:40px}
.featuredcategories .categories_box h3{margin:30px 0 0 0}
.page-main{padding-top:20px}
.cms-ds-home .page-main{max-width:100%;padding-left:0px;padding-right:0px;padding-top:0}
.categories_box h3{font-family:'Josefin Sans',sans-serif;font-size:24px;font-weight:400}
.nav-sections,.navigation{background:#EF5C0F;margin:0}
.navigation .level0>.level-top{color:#fff;font-family:'Josefin Sans',sans-serif;font-size:18px;font-weight:400;padding:0 5px;border:none;padding-left:5px;padding-right:5px}
.navigation .level0.active>.level-top,.navigation .level0.has-active>.level-top{background:#244980;color:#fff;border:none}
.navigation .level0>.level-top:hover,.navigation .level0>.level-top.ui-state-focus{color:#fff;text-decoration:none;background:#244980}
.navigation .level0 .submenu a:hover,.navigation .level0 .submenu a.ui-state-focus{background:#244980;color:#fff;text-decoration:none}
.design_development_services .categories_box{display:flex;background:#fff;box-shadow:0 2px 8px rgba(0,0,0,0.16);padding:25px;border-radius:30px;margin:10px;height:calc(100% - 20px);box-sizing:border-box}
.design_development_services .cat_icon_box{box-shadow:none}
.design_development_services ul{margin:0;padding:0;display:flex;flex-wrap:wrap;list-style:none}
.design_development_services ul li{width:50%;margin:0}
.design_development_services .cat_icon_box{box-shadow:none;width:310px;text-align:center}
.design_development_services ul .content_box{width:calc(100% - 150px);font-weight:300}
.design_development_services .cat_icon_box{box-shadow:none;width:130px;text-align:center;background:#F5F5F5;border-radius:50%;height:130px;display:flex;align-content:center;align-items:center;justify-content:center;margin-right:30px}
.design_development_services h2{text-align:center;margin:0 0 40px}
.products-grid .product.details{text-align:center}
.products-grid .product.details .action.tocart.primary{position:absolute;left:0;right:0;bottom:0;background:#244980;color:#fff;font-size:16px;padding:16px 25px;border:none;width:200px;box-sizing:border-box;text-align:center;border-radius:0;margin:0 auto;max-width:100%}
.product.details .action.tocart.primary:hover{background:#EF5C0F}
.product-item .product-item-info .price-box .price{font-size:24px}
.products.wrapper.grid.products-grid .product.details.product-item-details .ds-detail{min-height:110px}
.products-grid .product.details .product.name.product-item-name{max-height:43px;min-height:43px;overflow:hidden}
.products-grid .product.details{margin-left:0}
.products-grid .product.details{padding-bottom:50px;min-height:150px;position:relative}
.whychooseus ul{margin:0;padding:0;display:flex;flex-wrap:wrap;list-style:none}
.whychooseus ul li{width:25%;margin:0 0 20px 0}
.whychooseus h2{text-align:center;margin:0 0 40px}
.whychooseus .cat_icon_box{width:150px;height:150px;background:#fff;border-radius:25px;box-shadow:0 5px 6px rgba(0,0,0,0.16);border:1px solid #e2e2e2;display:flex;align-items:center;justify-content:center;margin-left:auto;margin-right:auto}
.whychooseus .categories_box p,.whychooseus .categories_box p:last-child{max-width:280px;margin-left:auto;margin-right:auto;text-align:center;font-size:24px;font-weight:400;color:#3E3E3E;margin:20px auto 0 auto}
.banner-item.banner-slider .item-content{display:flex;max-width:1280px;margin-left:auto;margin-right:auto;align-items:center}
.banner-item.banner-slider .item-content .slider-content{width:50%;align-self:center;padding-left:15px;padding-right:15px;min-height:460px}
.banner-item.banner-slider .item-content .slider-image{width:50%;text-align:center}
.banner-item.banner-slider .owl-carousel .owl-item img{display:block;/* width:100%;*/max-height:550px;width:auto;max-width:100%;/* margin:0 auto;*/float:right}
.banner-item.banner-slider{background:#fefefe;padding-top:20px;padding-bottom:20px;display:flex;align-items:center;min-height:100%}
.banner-item.banner-slider .item-content .slider-content h2{margin-top:0}
.banner-item.banner-slider .item-content .slider-image img{max-height:550px;width:auto;max-width:100%;float:right}
.banner-item.banner-slider .btn.explore{background:#EF5C0F;border-radius:45px;color:#fff;padding:15px;font-size:20px;font-family:'Josefin Sans',sans-serif;line-height:26px;display:inline-block;width:210px;text-align:center;margin-top:15px}
.banner-item.banner-slider .btn.explore:hover{text-decoration:none;background:#002E74}
#banner-slider-carousel .owl-nav .owl-prev{position:absolute;left:30px;top:calc(50% - 100px);z-index:111;font-size:44px;height:100px}
#banner-slider-carousel .owl-nav .owl-next{position:absolute;right:30px;top:calc(50% - 130px);z-index:111;font-size:44px;height:130px}
#banner-slider-carousel .owl-theme .owl-nav [class*="owl-"]:hover{background:none;color:inherit;text-decoration:none}
#banner-slider-carousel .owl-nav button span{font-size:104px}
.nav-sections .section-items.nav-sections-items ul{padding:0}
.nav-sections .navigation .level0{margin:0 7px 0 0}
.logo-ds .logo{margin:0;max-width:initial}
.logo.logo-extension{margin-left:20px}
.logo-ds{display:inline-flex;max-width:540px;align-content:center;align-items:center}
.header.content{padding:20px}
.footer-links{display:flex;margin-left:-30px;margin-right:-30px}
.footer-links .footer_col_1{width:35%;padding:0 30px;box-sizing:border-box}
.footer-links .footer_col_2{width:20%;padding:0 30px;box-sizing:border-box}
.footer-links .footer_col_3{width:20%;padding:0 30px;box-sizing:border-box}
.footer-links .footer_col_4{width:25%;padding:0 30px;box-sizing:border-box}
.minicart-wrapper .action.showcart::before, 
.minicart-wrapper .action.showcart.active::before{font-family:"Font Awesome 6 free";font-weight:900;content:'\f07a'}
.customwrapper{background:#000;color:#fff;text-align:center;padding:10px}
.customwrapper p{margin:0;padding:0}
.customheader strong{font-weight:600;color:#81C902}
.footer_col_3 li{display:inline-block;font-size:23px}
.footer_col_3 li a,.footer_col_4 a{color:#fff}
.footer_col_3 ul{margin:0;padding:0}
.footer_col_2 li{display:block}
.footer_col_2 li a{color:#fff}
.footer_col_2 ul{margin:0;padding:0}
.footer_col_4 li{display:flex}
.footer_col_4 li a{color:#fff}
.footer_col_4 ul{margin:0;padding:0}
.footer_col_4 li a:hover,.footer_col_3 li a:hover,.footer_col_2 li a:hover{color:#EF5C0F;text-decoration:none}
.header.panel>.header.links>li{margin:0 0 0 8px}
.page-footer{background:#002E74;color:#fff;padding:70px 0}
.page-footer a{color:#fff}
.copyright{background:#022965;color:#fff}
.footer_col_4 li i{margin-right:10px}
.faq_main_row{display:flex; padding-left: 15px;
	padding-right: 15px;}
.faq_main_row .faq_img_left{width:30%}
.faq_according h3{padding:10px 15px;border:1px solid #ddd;margin:0 0 10px 0;font-weight:700;font-size:18px}
.faq_according div[data-role="content"]{padding:0 0 15px 0;font-weight:300}
.faq_main_row .faq_according{width:70%}
.logos{justify-content:space-between;display:flex;align-content:center;align-items:center}
.featuredcategories-block{background:url(../images/right_top_abstrack.png) right 0px top 0px no-repeat,url(../images/left_bottom_abstrack.png) left 0px bottom 0px no-repeat;background-size:30%;border-top:1px solid #eee;padding:60px 0}
.featuredproduct-block{background:#FAFBFF;padding:40px 0}
#banner-slider-carousel .owl-dots{display:none}
.slider-product-item-info{width:100% !important;margin-left:auto;margin-right:auto;padding:15px;/*border:1px solid #D1D1D1;*/background:#fff;height:100%;box-sizing:border-box;box-shadow:0 2px 10px rgba(13,40,95,.05),0 4px 8px rgba(112,128,160,.12);border-radius:10px}
#banner-slider-carousel .owl-carousel .owl-stage{display:flex}
.featuredcategories-block .owl-carousel .owl-stage{display:flex}
/*.featuredproduct-block span.product-image-wrapper{padding-bottom:100% !important;margin-bottom:10px}
*/.featuredproduct-block .owl-carousel .owl-stage,.featurednewproduct-block .owl-carousel .owl-stage{display:flex}
.featuredproduct-block .block.widget .products-grid .product-item,.featurednewproduct-block .block.widget .products-grid .product-item{min-height:100%;margin:0;display:flex;padding:10px 15px}
.featuredproduct-block .owl-carousel .owl-item .slider-product-item-info{width:100%;box-sizing:border-box}
.featurednewproduct-block{padding:40px 0}
.featurednewproduct-block .mp-product-slider-content{margin-top:50px}
.featuredproduct-block .owl-nav.disabled,.featurednewproduct-block .owl-nav.disabled{display:block}
.featuredproduct-block .mp-product-slider-content{margin-top:30px}
.featuredproduct-block .block.widget .products-grid .product-item{min-height:100%;margin:0}
.featuredproduct-block .owl-carousel .owl-item,.featurednewproduct-block .owl-carousel .owl-item{display:flex}
.featuredproduct-block .product-image-container,.featurednewproduct-block .product-image-container{width:100% !important}
.services-block{padding:40px 0;background:url(../images/featurednewproduct_block_bg.png);background-size:cover}
/*.services-block{background:url(../images/services-left-top.png) left -60px top 45px no-repeat,url(../images/services-right-top.png) right -40px top 10px no-repeat,url(../images/services-left-bottom.png) left 0 bottom 20px no-repeat,url(../images/services-right-bottom.png) bottom -30px right -80px no-repeat;padding:40px 0;background-color:#F2F2FF}
*/.whyus-block{padding:40px 0}
.latest-block{background:#F2F2FF;padding:40px 0}
.latest-block .latest-blog{background:none !important}
.latest-blog .postTitle h2{font-size:20px}
.latest-blog .postTitle h2 a{color:#000}
.latest-blog .item{background:#fff;box-shadow:0 2px 7px rgba(0,0,0,0.1);border-radius:15px}
.faqs-block{padding:40px 0;border-bottom:1px solid #ddd;margin-bottom:40px}
.breadcrumbs a:visited{color:#244980;text-decoration:none}
.page-bottom{background:#FEF1EC;padding:40px 0;margin:40px 0 0 0}
.newslatter_box{display:flex;min-height:110px;align-items:center}
.newslatter_leftcol{width:30%;padding-right:10%}
.newslatter_leftcol h2{margin:0 0 10px 0}
.newslatter_rightcol{width:70%}
.block.newsletter{max-width:100%;width:100%}
.block.newsletter .field.newsletter{max-width:100%;width:100%}
.block.newsletter .form.subscribe{display:flex;width:100%;border-radius:35px;overflow:hidden;position:relative}
.block.newsletter .actions{width:200px;position:absolute;right:0}
.page-bottom .widget.block.block-static-block::before{content:url(../images/newsletter-icon-bg.png)}
.block.newsletter input{margin:0;padding:0;height:54px;border:none;padding:0 20px;box-sizing:border-box}
.block.newsletter .action.subscribe{background-color:#EF5C0F;height:54px;border-radius:35px;border:none;font-size:18px;width:100%}
.block.newsletter .field .control::before{position:absolute;display:none}
.page-bottom .widget.block.block-static-block{position:relative}
.page-bottom .widget.block.block-static-block::before{/*background:url(../images/newsletter-icon-bg.png);*/display:inline-block;position:absolute;right:100%;top:-31px;bottom:100%;width:250px;background-size:contain;min-height:170px;background-repeat:no-repeat;background-position:right 50px center}
.page-bottom .action.primary:hover,.page-bottom .action-primary:focus{border:none;outline:none}
.newslatter_box h3{margin:0 0 10px 0}
.footer_logo{background:#ffffff;padding:10px 15px;border-radius:5px;margin-bottom:20px}
.footer_logo img{display:block}
.page-footer h3{margin:0 0 25px 0}
.page-footer a{color:#fff}
.block.block-search,.panel.header,.minicart-wrapper{float:none;display:inline-block;vertical-align:middle;float:right}
.page-header .header.panel{padding-top:0;padding-bottom:0}
.header.panel>.header.links>li>a{color:#000}
.header.panel>.header.links>li>a:hover{color:#000}
.header.panel>.header.links>li>a:visited{color:#000}
.header.panel>.header.links>li i{width:30px;height:30px;background:#333;color:#fff;border-radius:50%;display:inline-block;margin-right:10px;text-align:center;line-height:27px}
.customer-welcome::before,.customer-welcome::after{display:none}
.customer-welcome .customer-name::after{content:"\f107";font-family:"Font Awesome 6 Free";font-weight:900}
.block.block-search{width:35%;border:1px solid #707070;border-radius:25px;margin-top:16px}
.block-search input[type="text"],.block-search input[type="text"]:focus{border:none;background:none;box-shadow:none;outline:none}
.block-search .actions{position:absolute;right:0px;top:0}
.page-header .panel.header{margin-top:24px;padding-left:10px;padding-right:0}
.minicart-wrapper{margin-left:13px;margin-top:20px}
.panel.header .links>li.welcome:before{font-family:"Font Awesome 6 free";font-weight:900;content:'\f007'}
.customer-welcome .action.switch::after{width:0}
.latest-block .post-list{margin:0 -15px;padding:0;display:flex;flex-wrap:wrap}
.latest-block .post-list-wrapper.blog-widget-recent:not(.blog-widget-recent-masonry) .post-holder{width:33.333%;margin:0;padding:15px;border:0;box-sizing:border-box;clear:none}
.latest-block .post-content .post-title{font-size:18px;font-weight:400;color:#3E3E3E;margin:20px auto 15px auto}
.page-layout-1column.page-with-filter .column.main{padding-top:0}
.page-products .product-item-actions{position:initial}
.products-list .product-item-details{display:flex;/*flex-direction:column;*/justify-content:space-between;width:100%}
.product-item .price-box .price{font-weight:700;white-space:nowrap;color:#EF5C0F;font-size:18px}
.mp-ps-info{color:#000;font-weight:400;font-size:16px}
.latest-block .post-content .post-title a{color:#000;margin:10px 0;display:block}
.slider-small-thumb-conent{display:flex;justify-content:space-between;align-content:center;align-items:center}
.slider-small-thumb-conent .col{text-align:center;font-weight:600}
.owl-carousel .owl-item .slider-small-thumb-conent img{max-height:100px;margin:12px auto;width:auto}
.product-item .price-box{margin:0}
.product-item .product-reviews-summary .reviews-actions a{color:#000}
.sidebar.sidebar-main{background:#eee;padding:0 15px 15px 15px;margin-bottom:15px}
.sidebar.sidebar-main .title{background:#EF5C0F;margin:0 -15px 15px -15px;padding:10px 15px;color:#fff}
.breadcrumbs{margin-top:20px;padding-left:0;padding-right:0;margin-bottom:20px}
.sidebar.sidebar-main a{font-size:14px;color:#000}
.sidebar.sidebar-main a:hover{text-decoration:none}
.sidebar.sidebar-main li.item{padding:10px 0;border-bottom:1px solid #ddd;margin:0}
.sidebar.sidebar-main li.item:last-child{border-bottom:none}
.sidebar.sidebar-main li.item .count{float:right;color:#000}
.sidebar.sidebar-main .block.filter,.sidebar.sidebar-main .block.filter .content .options,.sidebar.sidebar-main .block.filter .content .options dd{margin:0}
.latest-block .post-list-wrapper .post-holder .post-bl{border:1px;box-shadow:0 2px 8px rgba(0,0,0,0.16);background:#fff;padding:15px;height:calc(100% - 15px);border-radius:15px;position:relative;padding-bottom:45px}
.post-list-wrapper.blog-widget-recent{padding-bottom:40px}
.latest-block h3{font-family:'Josefin Sans',sans-serif;font-size:42px;font-weight:700;margin-bottom:10px;margin-top:0}
.post-list .post-content .post-read-more{float:right;font-weight:700;background:#EF5C0F;color:#fff;padding:5px 10px;border-radius:3px;position:absolute;right:15px;bottom:0px}
.post-list .post-content .post-description{float:left;width:100%;position:relative;padding-bottom:50px}
.blog-widget-recent .post-description .post-text-hld{min-height:50px;overflow:hidden}
.latest-block .block .title h2{text-align:center;margin:0 0 40px;font-size:42px;font-weight:700;font-family:'Josefin Sans',sans-serif}
.abs-margin-for-blocks-and-widgets-desktop,.page-main .block,.customer-review .product-details{margin-bottom:0}
.products-list .product-item-details .ds-list{min-width:200px;text-align:center;align-self:center}
.product-item .product-reviews-summary .reviews-actions{margin:10px 0}
.product-item .product-reviews-summary .reviews-actions a{color:#000;display:block;margin:0;font-weight:400}
.product-item-actions .actions-primary{display:block;margin:10px 0}
.product.details.product-item-details .ds-detail .product.name.product-item-name a{font-size:24px;font-weight:500}
.product-item{font-size:14px;line-height:20px;letter-spacing:normal;/* font-weight:400;*/}
.product-item-actions .actions-primary{display:block;margin:10px 0}
.product.details.product-item-details .ds-detail .product.name.product-item-name a{font-size:18px;font-weight:500}
.product-item{font-size:16px;line-height:20px;letter-spacing:normal;font-weight:300}
.page-products .product-item-info{width:240px;box-shadow:0 2px 3px rgba(13,40,95,.05),0 4px 8px rgba(112,128,160,.12);padding:15px;display:block;box-sizing:border-box;height:100%}
.products-list .product-item-info{display:flex;width:100%;box-shadow:0 2px 10px rgba(13,40,95,.05),0 4px 8px rgba(112,128,160,.12);padding:0;margin-bottom:25px}
.products-list .product-item-photo{display:inline-block;padding:0 30px 0 0;vertical-align:top;width:150px}
.action.tocart.primary{background:#244980;color:#fff;font-size:16px;padding:12px 10px;border:none;width:150px;box-sizing:border-box;text-align:center}
.product-image-wrapper{height:auto}
.product-image-photo{position:initial}
.products-grid .product-item-info:hover,.products-grid .product-item-info.active{border:none;padding:initial;margin:0;padding:0;box-shadow:0 2px 3px rgba(13,40,95,.05),0 4px 8px rgba(112,128,160,.12);padding:15px;display:block}
.abs-visually-hidden-desktop-s,.products-grid .product-item-info:not(:hover):not(.active) .product-item-inner{position:initial;width:auto;height:auto;box-shadow:none;margin:0}
.products-grid .product-item-inner{background:#ffffff;box-shadow:none;border:1px solid #bbbbbb;border-top:none;left:0;margin:0;padding:0;position:absolute;right:0;z-index:2;border:none}
.products-grid .product-item-inner{position:inherit}
.mp-product-slider-content .owl-nav .owl-prev{left:-20px}
.mp-product-slider-content .owl-nav .owl-next{right:-20px}
.page-products .products-grid .product-items{display:flex;flex-wrap:wrap}
.product-item .product-reviews-summary .reviews-actions a.action.add{display:none}
.products.wrapper.list.products-list .product-item-info{padding:15px}
.footer-are-content h2{font-size:24px;margin:20px 0}
.category-view-footer{margin-bottom:40px;padding-left:0;padding-right:0}
.products.wrapper.grid.products-grid .product.details.product-item-details{text-align:center}
.products-grid .product-item-actions{margin:0}
.product.name.product-item-name{margin-bottom:10px}
.ds-detail .action.more{color:#000;font-weight:400;font-size:16px}
.ds-detail .action.more::before{content:url(../images/clock-icon.png);display:inline-block;vertical-align:middle;margin-right:5px}
.ds-detail .action.more:hover{text-decoration:none;color:#EF5C0F}
.products.wrapper~.toolbar .pages{float:right}
.products.wrapper.list.products-list{margin-bottom:0}
.products.wrapper.list.products-list .products.list.items.product-items{margin-bottom:0}
.pages strong.page{background:none;line-height:initial}
.pages .action{background:none;border:none;box-shadow:none;padding:0 5px}
.pages .item{line-height:initial;padding:0}
.app-screens{width:100%}
.app-screens .app-heading{color:#000}
.app-screens .app-heading::after{display:table;margin:10px auto 0 auto;content:"";width:100px;height:5px;border-radius:10px;background-color:#000}
.stacked-cards{position:relative}
.stacked-cards ul{position:relative;max-width:60%;margin:0 auto;padding-left:0}
.stacked-cards li{list-style:none;padding:0;cursor:pointer;border-radius:8px;height:520px;width:292px;position:absolute;left:50%;transition:0.5s ease transform;box-shadow:0 3px 6px 0px #333}
.stacked-cards li:after{bottom:0;content:"";left:0;position:absolute;right:0;top:0}
.stacked-cards li img{position:relative;display:block;width:100%;height:auto;z-index:4}
.stacked-cards li.active{cursor:default;box-shadow:0 5px 10px 0px #333;transition:0.5s ease transform}
.app-screens .app-download-actions{justify-content:center;margin-top:60px}
.app-banner-row{display:flex;flex-wrap:wrap;margin-bottom:20px}
.app-slider{width:40%}
.app-info{width:60%}
.product-item .product-reviews-summary .reviews-actions{font-size:14px}
.app-feature{width:100%;padding:60px 0;position:relative}
.app-feature .app-feature-row{width:100%;display:flex;flex-wrap:wrap;justify-content:space-between}
.app-feature .app-feature-col{width:48%}
.app-feature figure{padding:0;margin:0}
.app-feature figure img{max-width:100%}
.app-feature ul.app-feature-list{padding:0;margin:0}
.app-feature ul.app-feature-list li{list-style:none;font-size:20px;line-height:26px;font-weight:300;margin-bottom:20px;display:flex}
.app-feature ul.app-feature-list li::before{content:"";background-image:url("../images/feature-tick.png");background-repeat:no-repeat;height:33px;margin-right:15px;padding-left:38px}
.app-feature .app-feature-desc{border-left:solid 10px #fb6114;padding-left:20px;font-weight:300;margin:30px 0;font-size:16px;line-height:26px}
.app-feature .app-help{background-color:#e5e5e5;padding:10px 15px;display:table;margin:0 auto}
.app-feature .app-help a{color:#fb6114;text-decoration:none}
.app-feature .app-help a:hover{color:#fb6114;text-decoration:underline}
.app-author{width:100%;background-image:url("../images/app-pattern.png");padding:60px 0}
.app-author .app-author-row{width:100%;display:flex;gap:30px;justify-content:space-between}
.app-author .app-author-col{width:48%;background-color:rgba(255,255,255,0.5);padding:30px;box-shadow:0px 5px 10px rgba(0,0,0,0.2)}
.app-author .app-author-logo{display:table;margin:0 auto;background-color:#fff;padding:15px}
.app-author .app-author-logo img{max-width:100%;width:auto}
.app-download-btn{display:flex;border:none;border-radius:50px;min-width:280px;height:75px;align-items:center;justify-content:center;background:#000;color:#fff;font-size:18px;font-weight:bold;flex-wrap:wrap}
.app-download-btn:hover{color:#fff;text-decoration:none;background:#EF5C0F}
.app-download-btn .icon{font-size:44px;margin-right:10px}
.app-download-actions{display:flex;gap:21px;margin-top:20px}
.app-author .app-download-heading{text-align:center}
.app-author .app-download-heading h3{padding:0;margin:0;font-size:34px;font-weight:300}
.app-author .app-download-heading h4{padding:0;margin:0;font-size:44px;font-weight:800;color:#fb6114}
.app-author .app-download-heading h4 span{font-weight:300}
.app-author .app-download-heading h5{padding:0;margin:0;font-size:54px;font-weight:800}
.app-heading{text-align:center;margin-bottom:40px}
.app-heading::after{display:table;margin:10px auto 0 auto;content:"";width:100px;height:5px;border-radius:10px;background-color:#000}
.product.data.items>.item.title>.switch{background:none;border:none;border-bottom:1px solid rgba(0 0 0 0);padding:1px 50px 0 0;font-weight:600;font-size:18px;color:#999}
.product.data.items>.item.content{border:none;border-top:1px solid #ddd}
.product.data.items>.item.title.active>.switch,.product.data.items>.item.title.active>.switch:focus,.product.data.items>.item.title.active>.switch:hover{padding-bottom:1px;border-color:#000; color: #EF5C0F;}
.product.data.items>.item.title.active>.switch .counter{ color: #EF5C0F;}
.product-info-main .product-reviews-summary{width:100%}
.product-info-main .product.attribute.overview{width:100%}
.action.mailto.friend{background:#EF5C0F;color:#fff;padding:5px 30px;min-width:180px;display:inline-block;border-radius:15px}
.action.mailto.friend.livedemo{margin-left:25px}
.action.mailto.friend span:before{content:"\f0e0";font-family:"Font Awesome 6 free";font-weight:900;margin-right:8px}
.action.mailto.friend.livedemo::before {
	content: url(../images/clock-icon.png);
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px; line-height: 15px; filter: brightness(0) invert(1);
}
.product-options-bottom .box-tocart .action.tocart{width:100%;border:none;margin:0}
.product-info-main .product-info-price{text-align:center;margin:0;border:none}
.product-info-main .product-options-bottom .box-tocart{margin:0}
.product-info-main .product-info-price{text-align:center;margin:0;border:none;color:#EF5C0F}
.product-options-bottom .price-box,.product-info-price .price-box{color:#EF5C0F}
.product-add-form .field.downloads .field.choice{border:none}
.product-add-form{background:#fefefe;border:1px solid #e7e2db;border-radius:10px;padding:15px;margin-top:20px}
#product_addtocart_form{display:flex;justify-content:space-between}
.page-product-downloadable .product-options-bottom{align-self:center}
.product-social-links{margin-bottom:0}
.product-info-main .product-options-bottom .box-tocart .fieldset:last-child{margin-bottom:0}
.products.wrapper.list.products-list .product-item-description{margin:10px 0 15px 0}
a,.alink{color:#EF5C0F;text-decoration:none}
a:visited,.alink:visited{color:#EF5C0F;text-decoration:none}
a:hover,.alink:hover{color:#244980;text-decoration:none}
.product.data.items>.item.content{padding:35px 0px 35px 0px}
.product.data.items>.item.content h2{font-size:32px}
.product.data.items>.item.content ul{margin:0;padding:0 0 0 20px}
.product.data.items>.item.content ul li{margin:0;padding:0 0 10px 0;line-height:initial}
.product.data.items>.item.content ul li br{display:none}
.category-cms.custom_subcatlist_page ul{display:flex;flex-wrap:wrap;margin:0 -15px;padding:0}
.category-cms.custom_subcatlist_page li{width:33.333%;padding:15px;display:block;box-sizing:border-box;margin-bottom:30px}
.category-cms.custom_subcatlist_page h3{font-size:30px;font-weight:400}
.category-cms.custom_subcatlist_page li .cat-img{text-align:center;margin-bottom:20px}
.category-cms.custom_subcatlist_page li .item{box-shadow:0 2px 10px rgba(13,40,95,.05),0 4px 8px rgba(112,128,160,.12);padding:15px;height:100%;box-sizing:border-box}
.page-main>.page-title-wrapper .page-title{margin-bottom:20px}
.page-header.header-sticky{position:fixed;top:0;left:0;width:100%;background:rgb(255 255 255 / 95%);z-index:99}
.page-header.header-sticky .logo-ds img{max-height:30px;width:auto}
.page-header.header-sticky~.page-main{padding-top:250px}
.page-header.header-sticky .block.block-search{margin-top:0px}
.page-header.header-sticky .panel.header,.page-header.header-sticky .minicart-wrapper{margin-top:7px}
.page-header.header-sticky .header.content{padding:10px 20px}
.blog-page-list .post-list{display:flex;flex-wrap:wrap;margin:0 -15px}
.blog-page-list .post-list li{width:calc(33.333% - 30px);margin:15px;box-sizing:border-box}
.post-list .post-header .post-title{max-width:100%;font-size:20px;font-weight:normal;line-height:30px;color:#000}
.post-list .post-header .post-title a{text-decoration:none;color:#000}
.post-list .post-holder .post-header .addthis_toolbox{display:none}
.contact-index-index .contact-form-block{display:flex}
.contact-index-index .contact-form-block .col-md-8{width:66.666%}
.contact-index-index .contact-form-block .col-md-4{width:33.333%}
.contact-info{padding:25px;font-size:20px;font-weight:400;text-align:center;background:#eee}
.contacts-title{font-size:34px;margin-bottom:30px}
.contact-index-index .column:not(.sidebar-additional) .form.contact>fieldset{max-width:100%;padding-right:50px;margin-bottom:0}
.contact-info i{font-style:initial;margin-bottom:15px}
.porto-icon-mobile:before{content:"\f095";font-family:"Font Awesome 6 free";font-weight:900;font-style:initial}
.porto-icon-mail-alt:before{content:"\f0e0";font-family:"Font Awesome 6 free";font-weight:900;font-style:initial}
.porto-icon-pin:before{content:"\f3c5";font-family:"Font Awesome 6 free";font-weight:900;font-style:initial}
#store_map{margin-bottom:40px}
.slider-product-item-info .product.photo.slider-product-item-photo{margin-bottom:20px;display:block}
.mp-product-slider-title,.featuredcategories h2,.featuredproduct-block h2,.featurednewproduct-block h2,.services-block h2,.whyus-block h2,.latest-block h3,.faqs-block h2{text-transform:capitalize;margin-bottom:20px;margin-top:0}
.page-footer h3{font-weight:600;font-size:24px}
.footer_col_3 li a{font-size:34px}
.cms-ds-home .post-title{margin-bottom:15px;font-size:18px;display:block}
.cms-ds-home .post-text-hld{font-weight:300}
.contact-index-index .column:not(.sidebar-additional) .form.contact{min-width:100%}
#contact-form .actions-toolbar .primary .action{padding:10px 25px;font-size:18px;font-weight:400}
#contact-form .fieldset>.field:last-child{margin-bottom:20px}
input[type="text"],input[type="password"],input[type="url"],input[type="tel"],input[type="search"],input[type="number"],input[type*="date"],input[type="email"]{border:1px solid #ddd;height:38px}
textarea{border:1px solid #ddd}
.form.contact textarea{height:75px}
.form.contact .fieldset>.field{margin-bottom:20px}
.category-cms.custom_subcatlist_page li .cat-img {
	text-align: center;
	margin-bottom: 20px;
	min-height: 250px;
}
.custom_subcatlist_page .item-bottom .ratting.pull-right {
	text-align: right;
}
.custom_subcatlist_page .item-bottom .ratting.pull-right a {
	background: #EF5C0F;
	color: #fff;
	padding: 5px 25px;
	border-radius: 2px;
}
.minicart-wrapper .action.showcart .counter-number {
	text-shadow: none;
}
#discount-coupon-form .action.apply.primary {
	height: 39px;
	box-shadow: none;
	border: none;
	background: #EF5C0F;
	color: #fff;
}
.form.form-cart .action.update {
	border: none;
	height: 40px;
	background: #EF5C0F;
	color: #fff;
}
.checkout-payment-method .payment-option-content .form-discount .actions-toolbar .primary .action {	background: #EF5C0F;	color: #fff;}
.abs-revert-to-action-secondary:not(:focus), .abs-discount-block .actions-toolbar .action.primary:not(:focus), .abs-discount-block .actions-toolbar .action.cancel:not(:focus), .block-compare .action.primary:not(:focus), .cart-summary .block .actions-toolbar > .primary .action.primary:not(:focus), .abs-discount-code .form-discount .actions-toolbar .primary .action:not(:focus), .cart-summary .form.giftregistry .fieldset .action.primary:not(:focus), .paypal-review-discount .actions-toolbar .action.primary:not(:focus), .paypal-review-discount .actions-toolbar .action.cancel:not(:focus), .cart-discount .actions-toolbar .action.primary:not(:focus), .cart-discount .actions-toolbar .action.cancel:not(:focus), .checkout-payment-method .payment-option-content .form-discount .actions-toolbar .primary .action:not(:focus) {	box-shadow: none;	border: none;
}
.form.form-discount .action.action-apply { 	height: 38px;}
.side-icon {	display: flex;	justify-content:flex-end;}
.side-icon .inner-icon {	text-align: center; margin: 20px 15px;}
.side-icon .inner-icon svg {	max-height: 35px;} 
.container_key_features {	clear: both;}
.sol-product-features-row {	display: flex;	justify-content: space-between;	flex-wrap: wrap;}
.sol-product-features-row .col-md-4 {width: 33.333%;	padding: 15px;	box-sizing: border-box;}
.sol-product-feature {	text-align: center;}
.sol-product-feature h5 {	font-size: 18px;	margin: 0 0 15px 0;}
.container_key_featurea { clear: both; margin-top: 30px; display: inline-block;	width: 100%;}
.m2-ed-cover {	display: flex; align-content: center;	align-items: center; gap: 25px;	background: #f4f4f4; padding: 15px; margin-bottom: 20px;  margin-top: 20px;}
.m2-ed-cover svg {	max-height: 70px;}
body.wp-sl .cart-summary div.sociallogin-wrapper div.sociallogin-block div.sociallogin-block-title {
	padding: 10px 15px;
	background: #EF5C0F;
	color: #fff;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -10px;
}
body.checkout-cart-index div.cart-summary div.sociallogin-wrapper div.sociallogin-block div.sociallogin-block-title::after { color: #fff;}
body.checkout-cart-index div.cart-summary div.sociallogin-wrapper div.sociallogin-block div.sociallogin-padding {margin-top: 20px;}
.sol-product-feature .fa.fa-plus {color: #f73021;}
.sol-product-feature .fa-mobile {color: #0083e5;}
.sol-product-feature .fa-user {color: #ffa403;}
.sol-product-feature .fa-cogs {color: #6fbc00;}
.sol-product-feature .fa.fa-line-chart {color: #f73021;}
.sol-product-feature .fa-clock {color: #0083e5;}
.sol-product-feature .fa-th-large {color: #ffa403;}
.sol-product-feature .fa-link {color: #6fbc00;}
.sol-product-feature .fa.fa-phone {color: #f73021;}
.sol-section-header h2 {	text-align: center;}
.m2-ed-cover img {	height:45px;}


.fotorama__stage  {border: 1px solid #ddd; box-sizing: border-box; max-width: calc(100% - 2px);}
a.verified-btn {
	background: #f6f6f6 url("../images/magento_marketplace.png");
	background-repeat: no-repeat;
	background-position: 30px;
	border-radius: 7px;
	padding: 12px 35px 12px 85px; display: inline-block;
	margin: 20px 0;
}
.verified-by {
	font-size: 12px;
	line-height: 16px;
}
a.verified-btn span {
	display: block;
	text-align: center; text-transform: uppercase;
}

.block-collapsible-nav .item .delimiter { display: none;}
.form-login #mathcaptcha {
	width: 50px;
	padding: 0;
	vertical-align: top;
	margin: 0 5px 10px auto;
	text-align: center;
}


.page-layout-product-custom-page .container_key_featurea {
	display: none;
}
.compatibility {padding-top: 10px; font-size: 11px; font-weight: 300; display: flex; 	flex-wrap: wrap;}
.compatibility .label {	margin-right: 2px;}
.catalog-category-view .column.main {padding-bottom: 0;}

@media(min-width:768px){
.post-content .post-description .post-ftimg-hld{min-height:200px}
.mode-list::before{content:'\f0c9';font-family:"Font Awesome 5 free";font-weight:900;color:#000}
.modes-mode:last-child,.modes-mode,.modes-mode.active{border-radius:0;border:none;background:none;box-shadow:none;color:#000}
.toolbar select{border:none;box-shadow:none;background-color:#fff;width:auto;text-align:right}
.action.sorter-action.sort-asc{display:none}
.page-products .sorter .sorter-label{display:none}
.modes-mode:hover{background:none}
.page-layout-1column .toolbar-products{position:initial}
.page-layout-1column .product-info-main {width: 57%; }
.page-layout-1column .product.media {	width: 40%;}
.navigation .level0.parent > .level-top > .ui-menu-icon {right: 3px;}
}

@media(max-width:1320px){
.action.mailto.friend {	min-width: initial;}
}

@media(max-width:1199px){
.logo-ds{max-width:370px}
.action.mailto.friend.livedemo {	margin-left: 10px;}
.action.mailto.friend {	padding: 5px 20px;}
}

@media(max-width:991px){
.logo-ds{max-width:270px}
.block.block-search{width:190px}
.banner-item.banner-slider .item-content,.featuredcategories ul,.design_development_services ul,.whychooseus ul,.latest-block .post-list,.logos{flex-wrap:wrap}
.banner-item.banner-slider .item-content .slider-image,.banner-item.banner-slider .item-content .slider-content{width:100%}
.banner-item.banner-slider .item-content .slider-image img{max-width:80%}
.banner-item.banner-slider .item-content .slider-image img{float:none;margin:0 auto}
.featuredcategories ul{justify-content:center}
.featuredcategories ul li{width:33%;text-align:center}
.featuredcategories .cat_icon_box{max-width:100px;height:100px}
.featuredcategories .cat_icon_box img{max-width:55px;width:auto !important;height:auto !important}
.featuredcategories .categories_box h3{margin:20px 0 0 0;font-size:18px}
.featuredcategories-block{padding:20px 0}
.design_development_services ul li,.latest-block .post-list-wrapper.blog-widget-recent:not(.blog-widget-recent-masonry) .post-holder{width:100%}
.featuredproduct-block .owl-carousel .owl-stage,.featurednewproduct-block .owl-carousel .owl-stage{display:flex;flex-wrap:wrap}
.whychooseus .categories_box p,.whychooseus .categories_box p:last-child{font-size:18px}
.footer-links { flex-wrap: wrap;}
.footer-links .footer_col_1 { width: 100%; margin-bottom: 20px;}
 .footer-links .footer_col_2, .footer-links .footer_col_3 { width: 50%;}
 .footer-links .footer_col_4 { width: 100%; margin-top: 20px;}
 .product.details.product-item-details {flex-wrap: wrap;}
.products-list .product-item-details .ds-list {	min-width: 199px;text-align: left;	align-self: center;}
.ds-detail .action.more {margin-bottom: 10px;	display: inline-block;}
.block.block-search {	margin-top: 0;}
.page-header .panel.header {margin-top: 7px;}
.minicart-wrapper { margin-top: 5px;}
.block-search input {	height: 30px;}
.action.mailto.friend {	width: 100%;	box-sizing: border-box;	margin: 0 0 10px 0;}
.action.mailto.friend.livedemo { margin-left: 0;}
.category-cms.custom_subcatlist_page li .cat-img { min-height: 1px;}
.navigation .level0 > .level-top { font-size: 14px; font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;}
.nav-sections .navigation .level0 {	margin: 0;}

}

@media(max-width:767px){
.category-cms.custom_subcatlist_page li{width:100%}
.block.block-search{display:none}
.minicart-wrapper{margin-top:0;margin-right:50px}
.page-header{border-bottom:1px solid #cccccc;margin-bottom:20px}
.faq_main_row{display:flex;flex-wrap:wrap}
.faq_main_row .faq_according,.faq_main_row .faq_img_left{width:100%}
.logos-block{padding-bottom:40px}
.page-header .nav-toggle{right:15px;left:initial}
.nav-sections-item-title{border:none}
.nav-sections-item-title{border:none;height:auto;line-height:initial;padding:10px}
.nav-sections-item-title.active{background:#244980}
.nav-sections-item-title.active a{color:#fff}
.navigation .level0>.level-top{padding:10px 0}
.navigation .level0.active>a:not(.ui-state-active),.navigation .level0.has-active>a:not(.ui-state-active){border:none !important;padding-left:10px}
.navigation .level0.active>a:not(.ui-state-active) span:not(.ui-menu-icon),.navigation .level0.has-active>a:not(.ui-state-active) span:not(.ui-menu-icon){margin-left:0}
.navigation .level0.active>a:not(.ui-state-active),.navigation .level0.has-active>a:not(.ui-state-active){border-color:#ff5501;border-style:solid;border-width:0 0 0 8px;color:#fff}
.navigation a,.navigation a:hover,.navigation a:visited,.navigation .alink:visited{color:#000;text-decoration:none}
.nav-sections-item-content{margin-top:37px}
.navigation .level0{border-top:1px solid #eeee}
.navigation .level0.active>.level-top,.navigation .level0.has-active>.level-top{background:none}
.featuredproduct-block .owl-carousel .owl-item,.featurednewproduct-block .owl-carousel .owl-item{flex-wrap:wrap}
.featuredproduct-block,.featuredcategories-block,.featurednewproduct-block{max-width:100%}
.whychooseus ul li{width:100%}
.latest-block .post-list-wrapper.blog-widget-recent:not(.blog-widget-recent-masonry) .post-holder{margin-bottom:50px}
.logos{justify-content:center}
.logos img{margin-bottom:10px}
.newslatter_leftcol,.newslatter_rightcol{width:100%;padding:0}
.newslatter_box{flex-wrap:wrap}
.newslatter_rightcol{margin-top:20px}
.footer-links{flex-wrap:wrap}
.footer-links .footer_col_1,.footer-links .footer_col_2,.footer-links .footer_col_3,.footer-links .footer_col_4{width:100%;margin-bottom:20px}
.banner-item.banner-slider .item-content .slider-content{min-height:initial}
.columns .column.main{order:initial}
.contact-index-index .contact-form-block .col-md-8,.contact-index-index .contact-form-block .col-md-4{width:100%}
.contact-index-index .contact-form-block .col-md-8{padding-right:0}
.contact-index-index .column:not(.sidebar-additional) .form.contact>fieldset{padding-right:0}
.contact-index-index .contact-form-block{flex-wrap:wrap}
#contact-form{margin-bottom:50px}
.navigation,.breadcrumbs,.page-header .header.panel,.header.content,.footer.content,.page-main,.page-wrapper>.widget,.page-wrapper>.page-bottom,.block.category.event,.top-container{box-sizing:border-box}
.products-list .product-item-info {	flex-wrap: wrap;}
.products-list .product-item-photo {width: 100%;margin-bottom: 15px;}
.page-product-downloadable .product-info-price ~ :last-child::after {border: none;display: none;}
.product.data.items {	margin-left: 0;	margin-right: 0;}
.page-footer {	margin-top: 0;}
.page-header.header-sticky .panel.header, .page-header.header-sticky .minicart-wrapper {margin-top: 4px;}
.page-header.header-sticky .nav-toggle {top: 6px;}
.nav-sections .header.links a, .nav-sections .header.links a:hover {color: #fff;}
.nav-sections .header.links li > a {border-top: 1px solid #fff;}
.nav-sections .header.links li.greet.welcome {border-top: 1px solid #fff; color: #fff;}
.nav-sections .header.links {border-bottom: 1px solid #fff;}
.nav-sections .section-items.nav-sections-items {padding-left: 0;padding-right: 0;}
.sidebar.sidebar-main .title {	margin: 0;}
.navigation .level0 > .level-top {padding-left: 15px;}
.nav-sections .navigation .level0 {	margin: 0;}
.navigation a, .navigation a:hover, .navigation a:visited, .navigation .alink:visited {	color: #fff;font-weight: 300;}
.sol-product-features-row .col-md-4{ width: 100%;}
.logo-ds {	max-width: 150px;}
}

@media (max-width:600px){
.design_development_services .categories_box{flex-wrap:wrap}
.design_development_services ul .content_box{width:100%;font-weight:300}
.design_development_services .cat_icon_box{margin:0 auto}
#product_addtocart_form {	flex-wrap: wrap;}
.page-product-downloadable .product-options-wrapper, .page-product-downloadable .product-options-bottom {	width: 100%;}
.block.newsletter .form.subscribe {	flex-wrap: wrap; overflow: visible;}
.block.newsletter .actions {	width: 100%;	position: initial;}
.block.newsletter input { border-radius: 40px; margin-bottom: 10px;}
.logo.logo-extension { display: none;}
}
.product-label.rectangle {
	position: absolute;
	background: rgb(255, 0, 0);
	color: #fff;
	padding: 10px 20px;
	z-index: 111;
	font-weight: bold;
}