<?xml version="1.0"?>
<!-- 
/**

 *
 * @category    Dotsquares
 * @package     Dotsquares_Marketplace
 * @version     3.5.2

 *
 */
! -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
  <menu>
    <add id="Dotsquares_Marketplace::main_menu" title="Marketplace" module="Dotsquares_Marketplace" sortOrder="20" dependsOnModule="Dotsquares_Marketplace" resource="Dotsquares_Marketplace::main_menu" />
    <add id="Dotsquares_Marketplace::manage_sellers" title="Manage Sellers" module="Dotsquares_Marketplace" sortOrder="2" parent="Dotsquares_Marketplace::main_menu" action="marketplaceadmin/sellers/index" resource="Dotsquares_Marketplace::manage_sellers" />
    <add id="Dotsquares_Marketplace::manage_products" title="Manage Products" module="Dotsquares_Marketplace" sortOrder="3" parent="Dotsquares_Marketplace::main_menu" action="marketplaceadmin/products/index" resource="Dotsquares_Marketplace::manage_products" />
    <add id="Dotsquares_Marketplace::manage_transactions" title="Manage Seller Orders" module="Dotsquares_Marketplace" sortOrder="4" parent="Dotsquares_Marketplace::main_menu" action="marketplaceadmin/transactions/index" resource="Dotsquares_Marketplace::manage_transactions" />
    <add id="Dotsquares_Marketplace::manage_payments" title="Manage Seller Payments" module="Dotsquares_Marketplace" sortOrder="5" parent="Dotsquares_Marketplace::main_menu" action="marketplaceadmin/payments/index" resource="Dotsquares_Marketplace::manage_payments" />
    <add id="Dotsquares_Marketplace::manage_review" title="Manage Seller Review" module="Dotsquares_Marketplace" sortOrder="6" parent="Dotsquares_Marketplace::main_menu" action="marketplaceadmin/review/index" resource="Dotsquares_Marketplace::manage_review" />
    <add id="Dotsquares_Marketplace::manage_subscriptionplans" title="Manage Seller Subscription Plans" module="Dotsquares_Marketplace" sortOrder="7" parent="Dotsquares_Marketplace::main_menu" action="marketplaceadmin/subscriptionplans/index" resource="Dotsquares_Marketplace::manage_subscriptionplans" />
    <add id="Dotsquares_Marketplace::manage_subscriptionprofiles" title="Manage Subscribed Profiles" module="Dotsquares_Marketplace" sortOrder="8" parent="Dotsquares_Marketplace::main_menu" action="marketplaceadmin/subscriptionprofiles/index" resource="Dotsquares_Marketplace::manage_subscriptionprofiles" />
    <add id="Dotsquares_Marketplace::settings" title="Settings" module="Dotsquares_Marketplace" sortOrder="9" parent="Dotsquares_Marketplace::main_menu" action="adminhtml/system_config/edit/section/marketplace" resource="Dotsquares_Marketplace::settings" />
  </menu>
</config>
