<?xml version="1.0"?>
<!-- 
/**

 *
 * @category    Dotsquares
 * @package     Dotsquares_Marketplace
 * @version     3.5.2

 *
 */
! -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <marketplace>
      <seller>
        <admin_approval_template>marketplace_seller_admin_approval_template</admin_approval_template>
        <admin_disapproval_template>marketplace_seller_admin_disapproval_template</admin_disapproval_template>
        <contact_admin_template>marketplace_seller_contact_admin_template</contact_admin_template>
        <contact_seller_template>marketplace_seller_contact_seller_template</contact_seller_template>
      </seller>
      <review>
        <admin_approval_template>marketplace_review_admin_approval_template</admin_approval_template>
        <admin_disapproval_template>marketplace_review_admin_disapproval_template</admin_disapproval_template>
        <admin_notification_template>marketplace_review_admin_notification_template</admin_notification_template>
      </review>
      <subscription>
        <sellersuccess_notification_template>marketplace_subscription_sellersuccess_notification_template</sellersuccess_notification_template>
        <admin_notification_template>marketplace_subscription_admin_notification_template</admin_notification_template>
        <seller_notification_template>marketplace_subscription_seller_notification_template</seller_notification_template>
      </subscription>
      <product>
        <approval_template>marketplace_product_approval_template</approval_template>
        <disapproval_template>marketplace_product_disapproval_template</disapproval_template>
      </product>
      <order>
        <notification_template>marketplace_order_notification_template</notification_template>
        <item_request_template>marketplace_order_item_request_template</item_request_template>
        <item_cancel_return_template>marketplace_order_item_cancel_return_template</item_cancel_return_template>
      </order>
    </marketplace>
    <captcha translate="label">
      <frontend>
        <areas>
          <seller_create>
              <label>Seller Create</label>
          </seller_create>
           <seller_login>
              <label>Seller Login</label>
           </seller_login>
        </areas>
      </frontend>
    </captcha>
    <customer>
            <captcha>
                <always_for>
                    <seller_create>1</seller_create>
                </always_for>
            </captcha>
    </customer>
    <carriers>
      <dotsquares>
        <active>1</active>
        <model>Dotsquares\Marketplace\Model\Carrier\Shipping</model>
        <name>Dotsquares Seller Shipping</name>
        <price>0</price>
        <title>Seller Shipping</title>
        <type>store</type>
        <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
      </dotsquares>
    </carriers>
  </default>
</config>