<?xml version="1.0"?>
<!--
/**

 *
 * @category    Dotsquares
 * @package     Dotsquares_Marketplace
 * @version     3.5.2

 *
 */
! -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Magento\Review\Controller\Product\Post" type="Dotsquares\Marketplace\Controller\Post" />
  <preference for="Magento\Customer\Controller\Adminhtml\Index\MassDelete" type="Dotsquares\Marketplace\Controller\Adminhtml\Index\MassDelete" />
  <preference for="Magento\Customer\Controller\Adminhtml\Index\Delete" type="Dotsquares\Marketplace\Controller\Adminhtml\Index\Delete" />
  <preference for="Magento\Customer\Controller\Adminhtml\Index\InlineEdit" type="Dotsquares\Marketplace\Controller\Adminhtml\Index\MarketplaceInline" />
  <preference for="Magento\Customer\Controller\Adminhtml\Index\MassAssignGroup" type="Dotsquares\Marketplace\Controller\Adminhtml\Index\MassAssignGroup" />
  <preference for="Magento\Checkout\Controller\Cart\Add" type="Dotsquares\Marketplace\Controller\Assignproduct\Cart\Add" />
  <preference for="Magento\Customer\Controller\Account\LoginPost" type="Dotsquares\Marketplace\Controller\Account\LoginPost" />
  <preference for="Magento\Sales\Block\Order\PrintShipment" type="Magento\Sales\Block\Order\Items" />
  <preference for="Magento\Checkout\Block\Cart" type="Dotsquares\Marketplace\Block\Cart" />
</config>