<?xml version="1.0"?>
<!--
/**

 *
 * @category    Dotsquares
 * @package     Dotsquares_Marketplace
 * @version     3.5.2

 *
 */
! -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<event name="sales_order_place_before">
    <observer name="sales_order_place_before" instance="Dotsquares\Marketplace\Observer\CheckLogin" />
</event>
</config>