<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dotsquares" translate="label" sortOrder="30">
            <label>Dotsquares Product Faq</label>
        </tab>
        <section id="productfaq" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Faq</label>
            <tab>dotsquares</tab>
            <resource>Dotsquares_Productfaq::config_blog</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="email_user" translate="label comment" type="select" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Email to User</label>
                    <comment>Automatically email the answer to user after a question is answered</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_admin" translate="label comment" type="select" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Notification Email</label>
                    <comment>Automatically send a notification email to admin after a question is posted</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
               <field id="email_address_faq" translate="label comment" type="text" sortOrder="30"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Notification Emails To</label>
					<validate>required-entry validate-email</validate>
                    <!--comment>Please fill a valid Email Address and If you leave it blank then email will send to "General Contact"</comment-->
                    <comment>Email address where the notification email is sent</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
						<field id="email_admin">1</field>
					</depends>
                </field>
            </group>
        </section>
    </system>
</config>
