<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_delete_commit_after">
        <observer name="salesforce_deleteCustomer" instance="Magenest\Salesforce\Observer\Customer\Delete"/>
    </event>
    <event name="customer_address_save_after">
        <observer name="salesforce_updateCustomer" instance="Magenest\Salesforce\Observer\Customer\SyncDataAfterSaveCustomer"/>
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="salesforce_syncOrder" instance="Magenest\Salesforce\Observer\Customer\SyncSubscriberAsLead"/>
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="salesforce_syncOrder" instance="Magenest\Salesforce\Observer\Order\Create"/>
    </event>
</config>
