<?xml version="1.0"?>
<!-- 
/**

 *
 * @category    Dotsquares
 * @package     Dotsquares_Marketplace
 * @version     3.5.2

 *
 */
! -->
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd'>
  <event name="controller_action_predispatch_marketplace_seller_createpost">
    <observer name="marketplace_seller_createpost" instance="Dotsquares\Marketplace\Observer\SellerCreate" />
  </event>
  <event name="controller_action_postdispatch_marketplace_seller_createpost">
    <observer name="marketplace_seller_create" instance="Dotsquares\Marketplace\Observer\Seller" />
  </event>
  <event name="checkout_cart_product_add_after">
    <observer name="marketplace_seller_product" instance="Dotsquares\Marketplace\Observer\Product" />
  </event>
  <event name="checkout_onepage_controller_success_action">
    <observer name="marketplace_order_details" instance="Dotsquares\Marketplace\Observer\Ordermanage" />
  </event>
  <event name="controller_action_predispatch_wishlist_index_add">
    <observer name="marketplace_order_details" instance="Dotsquares\Marketplace\Observer\Wishlist" />
  </event>
<event name="customer_save_after_data_object">
    <observer name="customer_save_after_data_objects" instance="Dotsquares\Marketplace\Observer\AfterAddressSaves" />
</event>
 <event name="controller_action_predispatch_marketplace_seller_loginpost">
    <observer name="marketplace_seller_loginpost" instance="Dotsquares\Marketplace\Observer\SellerLogin" />
  </event>
</config>
