<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Dotsquares. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="dotsquarest::base" title="Dotsquares" module="Dotsquares_Enquiry" sortOrder="70" resource="Dotsquares_Enquiry::parent"/>
        <add id="dotsquares_enquiry::enquiry" title="Order Enquiries" module="Dotsquares_Enquiry" sortOrder="10" parent="dotsquarest::base" action="dotsquares_enquiry/items/" resource="Dotsquares_Enquiry::items"/>
    </menu>
</config>
