<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Dotsquares_Enquiry_tab" translate="label" sortOrder="1000">
            <label>Dotsquares</label>
        </tab>
        <section id="gernal_section_ds" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Enquiry Settings</label>
            <tab>Dotsquares_Enquiry_tab</tab>
            <resource>Dotsquares_Enquiry::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="dropdown_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Dotsquares\Enquiry\Model\Config\Source\Custom</source_model>
                </field>
				<!--<field id="text_heading" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading</label>
                </field>-->
				<field id="text_meta_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Meta Title</label>
                </field>
				<field id="text_meta_description" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Meta Description</label>
                </field>
				<field id="text_meta_keywords" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Meta Keywords</label>
                </field>
				<field id="text_submit_button_text" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Submit Button Text</label>
                </field>
				<field id="text_success_message" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Success Message</label>
                </field>				
            </group>
			<group id="enquiry_template" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Owner Email Template</label>				
				<field id="text_subject" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subject</label>
                </field>               
                <field id="dropdown_owner_template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template</label> 
                    <source_model>Dotsquares\Enquiry\Model\Config\Source\Emailtemplate</source_model>
                </field>				
				<field id="text_owner_email_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Owner Email Id</label>
                </field>
			</group>
			<group id="enquiry_template_customer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Email Template</label>				
				<field id="text_subject_customer" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subject</label>
                </field>               
                <field id="dropdown_customer_template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template</label> 
                    <source_model>Dotsquares\Enquiry\Model\Config\Source\Emailtemplate</source_model>
                </field>				
			</group>			 
			<group id="enquiry_Change_label_of_fields" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Change Label of Fields</label>               
                <field id="dropdown_reason_for_nquiry" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Reason for Enquiry</label>
					<comment><![CDATA[Add dropdown values with seprated comma ex: Reason 1, Reason 2, Reason 3]]></comment>
                </field>				
			</group>			
        </section>
    </system>
</config>