<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <instagramslider>
            <general>
                <noofitems>10</noofitems>
                <simpletext>{{block class="Dotsquares\Instagramslider\Block\Items"
template="Dotsquares_Instagramslider::Instagram/Instagramslider.phtml"}}</simpletext>
            </general>
        </instagramslider>
    </default>
</config>